@*
    
*@
@model Webform.Models.FormModel
@{
    ViewData["Title"] = "Create New Todo";
}

<div class="text-center">
    <h1 class="display-4">Create New Todo</h1>
</div>

<form method="post" class="border p-3 mt-4" asp-controller="Home" asp-action="CreateTask">
    <div>
        <div class="row pb-2">
            @*<h2 class="text-primary">Create Your  New ToDo</h2>
            <hr />*@
        </div>
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="mb-3">
            @*<label asp-for="CategoryName"></label>*@
            <label >Input Your Task</label>
            <input asp-for="Task" class="form-control" />
            <span asp-validation-for="Task" class="text-danger"></span>
        </div>
       @* <div class="mb-3">
            <label>Created Date</label>
             <input type="date" class="form-control" id="e" disabled/>
             <script>
                 document.getElementById('e').value = new Date().toISOString().substring(0, 10);
             </script>
        </div>*@
        <div class="mb-3">
            <label >Due Date and Time</label>
             <input asp-for="DueDate" type="date" class="form-control" />
             <span asp-validation-for="DueDate"></span>
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">Create Task </button>
        <a asp-controller="Home"  class="btn btn-secondary" style="width:150px">
            Back To List
        </a>
    </div>
</form>

@*<div class="container">
   <div class="row">
      <div class='col-sm-6'>
         <div class="form-group">
            <div class='input-group date' id='datetimepicker1'>
               <input type='text' class="form-control" />
               <span class="input-group-addon">
               <span class="glyphicon glyphicon-calendar"></span>
               </span>
            </div>
         </div>
      </div>
      <script type="text/javascript">
         $(function () {
             $('#datetimepicker1').datetimepicker();
         });
      </script>
   </div>
</div>*@


@*<div class="form-group">
  
    <div class="form-group">
      <label class="col-form-label mt-4" for="inputDefault">Input Task</label>
      <input type="text" class="form-control" placeholder="Input Task" id="inputDefault" spellcheck="false" data-ms-editor="true">
    </div>
</div>

<div class="btn-group-vertical">
    <button type="button" class="btn btn-outline-dark" >Create New ToDo</button>
</div>*@